@keyframes movenav{
    from {
        position: absolute;
        top: -200px;
        opacity: 0%;
    }
    to {
        position: absolute;
        top: 0px;
        opacity: 100%;
    }
}

@keyframes displayEditor{
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes movefooter{
    from {
        position: absolute;
        bottom: -10px;
        opacity: 0%;
    }
    to {
        position: absolute;
        bottom: 0px;
        opacity: 100%;
    }
}