.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: $base-margin;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
  }