.footer{
    width: 100vw;
    bottom: 0;
    position: fixed;
    @include flex-container(column, center, center);
};
.footer-btns{
    @include flex-container(row, center, center);
    .div{
        display: flex;
    }
};