//Nav header toggle buttons area
.nav-dropdown{
    width: 100vw;
    @include flex-container(row, baseline, center);
    position: fixed;
    height: 1vh;
    z-index: 1;
    i{
        font-size: $font-size-xs;
    }
}

.title-dropdown{
    @include flex-container(column, center, center);
}
.buttons-nav-dropdown{
    @include flex-container(row);
}

//Top header styles for formatting - for any color related styles go to color.scss
//Main options
.navigation{
    width: 100vw;
    position: absolute;
    animation: none;
    animation-duration: 0s;
    @include flex-container(row, center, space-between, false);
    border-radius: 0px 0px $bradius-round $bradius-round;
    @include xs{
        flex-direction: column;
        justify-content: center;
    }
    @include breakpoint(1025px){
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-menu-wrapper{
    @include flex-container(column);
    padding: $top-padding $side-padding;
}

.main-menu{
    @include flex-container(row, center, space-between);
}

.file-name-container{
    @include flex-container(column, center, flex-end);
}

.file-name{
    padding: $base-padding $side-padding;
    border-radius: $base-border-radius;
    margin: $base-margin $side-margin;

}

.save-icon{
    font-size: medium;
}


//Color selectors main menu
.main-menu-corner{
    border-left: 1px solid $grey;
    padding-left: $base-padding*2;
    @include flex-container(column, center, space-between);
    @include xs{
        flex-direction: row;
        border-left: none;
        border-top: 1px solid $grey;
    }
    @include breakpoint(1025px){
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid $grey;
        border-top: none;
    }

}

.picker-btn{
    display: none;
}
