//Textbox styles for formatting - for color options go to color.scss
.overlay-style{
    z-index: 2;
}

.modal-style{
    top: 17vw;
    left: 25vw;
    background-color: $transLight;
    border-radius: $base-border-radius;
    position: absolute;
    @include flex-container(column);
    resize: both;
}

.modal-header-style{
    @include flex-container(row, center, space-between);
    margin: 0px;
    cursor: move;
    a{
        border: none !important;
        border-radius: $base-border-radius 0px 0px 0px;
        margin: 0px;
    }
    i{
        margin-right: $base-margin;
    }
}

.header-items{
    @include flex-container(row, center);

}

.op-btn-cont{
    @include flex-container(row, center, space-between);
    background-color: $dark;
    a{
        border: none !important;
        border-radius: 0px;
        margin: 0px;
    }
}

.text-options{
    @include flex-container(row, center, space-between);    
}

.text-options-drop{
    @include flex-container(row, baseline, space-between);
}

.textbox{
    padding: 10px 15px;
    background-color: $transDark;
    font-size: smaller;
    color: $grey;
    font-family: $base-content-family;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: $dark;
    outline: none;
    min-width: 400px;
    min-height: 200px;
    width: 500px;
    height: 200px;
    cursor: text;
    resize: both;
    overflow-y: auto;

}