//Textbox styles for formatting - for color options go to color.scss
.overlay-style{
    z-index: 2;
}

.modal-style{
    top: 17vw;
    left: 25vw;
    background-color: $transLight;
    border-radius: $base-border-radius;
    position: absolute;
    display: flex;
    flex-direction: column;
    resize: both;
}

.modal-header-style{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    cursor: move;
    a{
        border: none !important;
        border-radius: $base-border-radius 0px 0px 0px;
        margin: 0px;
    }
    i{
        margin-right: $base-margin;
    }
}

.header-items{
    display: inherit;
    align-items: center;
}

.op-btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $dark;
    a{
        border: none !important;
        border-radius: 0px;
        margin: 0px;
    }
}

.text-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text-options-drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.textbox{
    padding: 10px 15px;
    background-color: $transDark;
    font-size: smaller;
    color: $grey;
    font-family: $base-content-family;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: $dark;
    outline: none;
    min-width: 500px;
    min-height: 200px;
    width: 500px;
    height: 200px;
    cursor: text;
    resize: both;
    overflow-y: auto;

}