//Base properties
html, body{
    font-family: $base-content-family;
    background-color: $dark;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


//Modal display default
[data-modal="txt-menu"]{
    display: none;
}


