@use 'sass:color';
@use 'sass:math';

@import 'components/buttons';

@each $key, $val in $colors{

    @if $val == #FFFFFF or $val == $grey or $val == #000000 or $val == $dark{
        .bg-#{$key}{
            background-color: $val;
        }
        .text-#{$key}{
            color: $val;
        }
        .btn-#{$key}{
            @include button-base($val, $outline: false);
        }
        .btn-outline-#{$key}{
            @include button-base($val, $outline: true);
        }
    }

    @for $i from 1 through 4{

        @if $val != #FFFFFF and $val != $grey{
            .bg-#{$key}-light-#{$i}{
                background-color: lighten($val, $i*8);
            }
            
            .text-#{$key}-light-#{$i}{
                color: lighten($val, $i*8);
            }

            .btn-#{$key}-light-#{$i}{
                @include button-base-light($val, $i, $outline: false);
                
            }

            .btn-outline-#{$key}-light-#{$i}{
                @include button-base-light($val, $i, $outline: true);
                
            }

            .input-#{$key}-light-#{$i}{
                background-color: $grey;
                color: darken($val, $i*8);
                font-family: $base-content-family;
                font-weight: $font-weight-light;
                border: 0px;
                &:focus{
                    outline: none !important;
                    border:1px solid $val;
                    box-shadow: 0 0 2px darken($val, $i*8);
                }
            }
        }
    }


    @for $i from 1 through 4{

        @if $val != #000000 and $val != $dark{
            .bg-#{$key}-dark-#{$i}{
                background-color: darken($val, $i*8);
            }

            .text-#{$key}-dark-#{$i}{
                color: darken($val, $i*8);
            }

            .btn-#{$key}-dark-#{$i}{
                @include button-base-dark($val, $i, $outline: false);
            }

            .btn-outline-#{$key}-dark-#{$i}{
                @include button-base-dark($val, $i, $outline: true);
            }
        }
    }

}